{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Assigned To</th>
                </tr>
                </thead>
                <tbody>
                {% for bookmark in bookmarks %}
                    <tr>
                        {% if bookmark.userID.email == user.email %}
                            <td>
                                <a href="/company/project?name={{ bookmark.companyID.name }}&project={{ bookmark.projectID.name }}&bookmarkname={{ bookmark.name }}">{{ bookmark.projectID.name }}</a>
                            </td>
                            <td>{{ bookmark.projectID.name }}</td>
                            <td>{{ bookmark.projectID.description }}</td>
                            <td>{{ bookmark.projectID.assigned_to }}</td>
                            <td>
                                <a href="/removebookmarklist?companyname={{ bookmark.companyID.name }}&projectname={{ bookmark.projectID.name }}&bookmarkname={{ bookmark.name }}"
                                   class="btn btn-danger pull-right">Delete Bookmark</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}