{% extends "body.html" %}
{% block content %}
<!-- Content -->
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <img src="/{{ company.photo }}" alt="Company Image" width=150/>
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>

        Created By:
        <p>{{project.createdBy.get_full_name}}</p>
        Created On:
        <p>{{project.created_at}}</p>
        {% if "Engineer" in user.role and userIsMember %}
        <a href="/company/project/update?name={{ company.name }}&project={{ project.name }}"
           class="btn btn-default">Update this Project</a>
        <a href="/company/project/remove?name={{ company.name }}&project={{ project.name }}"
           class="btn btn-default pull-right">Delete this Project</a>
        {% endif %}
    </div>
</div>
<div class="container" role="main">
    <div class="table-responsive">
        <table class="table table-striped sortable">
            <thead>
            <tr>
                <th>Qualifications</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Programming Language </td>
                <td>{{ project.programmingLanguage }}</td>
            </tr>
            <tr>
                <td>Years of Experience </td>
                <td>{{ project.yearsOfExperience }}</td>
            </tr>
            <tr>
                <td>Speciality </td>
                <td>{{ project.speciality }}</td>
            </tr>
            <!--{% for item in project.members.all %}
            {% if "Engineer" in item.role %}
            <tr>
                <td>{{ item.name }}</td>
            </tr>
            {% endif %}

            {% endfor %}-->

            </tbody>
        </table>
    </div>
</div>
{% endblock %}