{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>{{ group.name }}</h1>
            <p>{{ group.description }}</p>
            <p>{{ group.pro }}</p>
            <a href="/group/comments?name={{ group.name }}" class="btn btn-default pull-left">Comments</a>
            {% if userIsMember %}
                <a href="/group/invitestudent?name={{ group.name }}" class="btn btn-default pull-left">Add Student to
                    Group</a>
                {% if group.pro is None %}
                    <a href="/group/project?name={{ group.name }}" class="btn btn-default pull-left">Recommended
                        Projects</a>
                {% else %}
                    <a href="/company/project/leave?name={{ group.comp }}&project={{ group.pro }}&group={{ group.name }}" class="btn btn-default pull-left">Leave Project</a>
                {% endif %}
                <a href="/group/delete?name={{ group.name }}" class="btn btn-danger pull-right">Delete this Group</a>
                <a href="/group/unjoin?name={{ group.name }}" class="btn btn-default pull-right">Unjoin this Group</a>
            {% endif %}
            {% if "Student" in user.role and userIsMember is False %}
                <a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th>Users</th>
                </tr>
                </thead>
                <tbody>
                {% for item in group.members.all %}
                    <tr>
                        <td>{{ item.get_full_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}