{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th>Project</th>
                    <th>Description</th>
                    <th>Assigned to</th>
                </tr>
                </thead>
                <tbody>
                {% for item in projects %}
                    {% if item.show is True %}
                        <tr>
                            <td>
                                <a href="/company/project?name={{ item.company.name }}&project={{ item.name }}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.assigned_to }}
                                {% if item.assigned_to is None %}
                                    <a href="/company/project/apply?name={{ item.company.name }}&project={{ item.name }}&group={{ group.name }}"
                                       class="btn btn-primary pull-right"> Choose Project </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}